.container {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

h1 {
    color:#0058C1;
}

h2 {
    color: orangered;
    
}

h3 {
    color: seagreen;
}

h4 {
    color: tan;
}


#complimentButton {
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
#complimentButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
#complimentButton:active {
	position:relative;
	top:1px;
}


#fortuneButton {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
#fortuneButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
#fortuneButton:active {
	position:relative;
	top:1px;
}

ul {
    list-style-type: none;
}

.fortune-box {
    text-align: center;
    margin: 2rem 0rem 2rem;
    padding-top: 1rem;
    border: 1px dotted red;
    background-color: #F8F5DE;
}


#feelings {
    border: 3px dotted teal;
    padding-bottom: 2rem;
    margin: 2rem 0rem;
}

.feelings-box {

}

#userPost {
    border: 3px dotted teal;
    margin: 2rem 0;
    padding: 2rem;
}